{
    "comments":false,
    "compact":true,

    "plugins": [
        ["babel-plugin-transform-builtin-extend", {
            globals: ["Error", "Array"]
        }, "babel-plugin-transform-runtime"]
    ],

   "presets":[
      "es2015"
   ]
}
